html * {
    color: rgb(46, 46, 46);
    font-family: Rajdhani-Medium;
  }

.cust_info_display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    border: 8px solid rgb(61, 61, 61);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    line-height: 0.5px;
    font-size: 16px;
}

.pri_repair_sel_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;
    padding: 10px;
    margin: auto;

    line-height: 2px;
    font-size: 20px;
}

.pri_repair_sel_box .pri_repair_sel_box_buttons{
    grid-template-columns: 1fr;
    width:225px;
}
.sec_repair_sel_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 200px;
    padding: 5px;
    line-height: 0.5px;
}

.sec_tu_sel_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 200px;
    padding: 5px;
    line-height: 0.5px;
}

.pri_service_btn{
    width: 200px;
    height: 50px;
    margin: 5px;
    border-radius: 3px;
    font-size: 22px;
    font-family: Rajdhani-SemiBold;
    background-color: rgb(182, 182, 182);
}

.pri_service_btn:hover{
    background-color: rgb(255, 255, 255);
}

.pri_service_btn:focus{
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
}

.sec_service_btn:hover{
    background-color: rgb(255, 255, 255);
}

.sec_service_btn:focus{
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
}

.sec_service_btn{
    width: 97.5px;
    height: 25px;
    margin: 2px;
    font-size: 16px;
    font-family: Rajdhani-Bold;
    background-color: rgb(182, 182, 182);
    border-radius: 3px;
}

.sec_tu_sel_box .sec_service_btn{
    font-size: 11px;
    font-family: Rajdhani-SemiBold;
    width: 64px;
}

.notes_ta{
    width: 400px;
    height:100px;
    border: 0.5px solid rgb(61, 61, 61);
    border-radius: 1px;
    font-size: 16px;
}